include *.txt LICENSE
include couchbase_version.py
recursive-include couchbase *.py
recursive-include acouchbase *.py
recursive-include txcouchbase *.py
recursive-include tests *.py
recursive-include src *
recursive-include deps *
recursive-include protostellar *.py
exclude MANIFEST.in
